body {
    background: #1e292e;
    margin: 1.5%;
}

.if-js {
    visibility: hidden;
}

table {
    border: #333 solid 1px;
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    user-select: none;
}

tr {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

th {
    flex: 1;
    background: #2a7ca1;
}

td {
    flex: 1;
    background: #1a465a;
}

.icon, .icon-head {
    flex: none;
    width: 3.5%;
}

.example, .example-head {
    flex: none;
    width: 50%;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-content {
    aspect-ratio: 1;
}

img.icon-content {
    width: 75%;
    object-fit: scale-down;
    /*filter: saturate(500%) grayscale(100%);*/
}

i.icon-content {
    font-size: 2vw;
}