<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="icon" type="image/png" href="/public/logo.png">
    <link rel="shortcut icon" type="image/png" href="/public/logo.png">
    <link rel="apple-touch-icon" href="/public/logo.png">
    <meta property="og:image" content="/public/logo.png">
    <meta name="twitter:title" content="Ollie's Portfolio">
    <meta name="twitter:description" content="My portfolio">
    <meta name="twitter:image" content="/public/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="Ollie's Portfolio" />
    <meta property="og:description" content="My portfolio" />
    <meta name="description" content="My portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ollieg.codes" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/style/fonts.css" />
    <link rel="stylesheet" href="/public/style/common.css" />
    <link rel="stylesheet" href="/public/style/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/fontawesome.min.css"
        integrity="sha512-8Vtie9oRR62i7vkmVUISvuwOeipGv8Jd+Sur/ORKDD5JiLgTGeBSkI3ISOhc730VGvA5VVQPwKIKlmi+zMZ71w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/brands.min.css"
        integrity="sha512-bSncow0ApIhONbz+pNI52n0trz5fMWbgteHsonaPk42JbunIeM9ee+zTYAUP1eLPky5wP0XZ7MSLAPxKkwnlzw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/public/script/index.bundle.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollie's Portfolio</title>
</head>

<body>
    <noscript>This site requires JavaScript to display the best.</noscript>
    <div id="main">
        <div id="greetbox" class="scroll-anim infobox">
            <a id="my-info"></a>
            <h1>Hi There!</h1>
            <h2>My name's Ollie, and I develop websites and software. This is my portfolio of some projects I'm working
                on or have worked on, and some other useful information.</h2>
        </div>
        <div id="linkbox" class="scroll-anim infobox">
            <a id="my-links"></a>
            <h1>My Links</h1>
            <div id="links">
                <a href="https://github.com/obfuscatedgenerated" target="_blank" rel="noopener noreferrer"
                    class="social-link"><i class="fa-brands fa-github"></i>
                    <p class="social-text">GitHub</p>
                </a>
                <a href="https://gitter.im/obfuscatedgenerated" target="_blank" rel="noopener noreferrer"
                    class="social-link"><i class="fa-brands fa-gitter"></i>
                    <p class="social-text">Gitter</p>
                </a>
                <a href="https://pypi.org/user/obfuscatedgenerated" target="_blank" rel="noopener noreferrer"
                    class="social-link"><i class="fa-brands fa-python"></i>
                    <p class="social-text">PyPI</p>
                </a>
                <a href="https://npmjs.com/~obfuscatedgenerated" target="_blank" rel="noopener noreferrer"
                    class="social-link"><i class="fa-brands fa-npm"></i>
                    <p class="social-text">NPM</p>
                </a>
            </div>
        </div>
        <div id="techstack" class="scroll-anim infobox">
            <a id="my-tech"></a>
            <h1>My Tech Stack</h1>
            <h2>I work with many languages and technologies, but I tend to prefer:</h2>
            <div class="langtable">
                <div class="lang">
                    <img src="./public/godot.svg" alt="Godot icon" draggable="false" />
                    <h3>Godot</h3>
                </div>
                <div class="lang">
                    <img src="./public/python-min.png" alt="Python icon" draggable="false" />
                    <h3>Python</h3>
                </div>
                <div class="lang">
                    <img src="./public/html-min.png" alt="HTML5 icon" draggable="false" />
                    <h3>HTML5</h3>
                </div>
                <div class="lang">
                    <img src="./public/js-min.png" alt="JavaScript icon" draggable="false" />
                    <h3>JavaScript</h3>
                </div>
                <div class="lang">
                    <img src="./public/java-min.png" alt="Java icon" draggable="false" />
                    <h3>Java</h3>
                </div>
                <div class="lang">
                    <img src="./public/ellipsis-min.png" alt="ellipsis" draggable="false" />
                    <h3>And more...</h3>
                </div>
            </div>
        </div>
        <div id="projectbox" class="scroll-anim infobox">
            <a id="my-projects"></a>
            <h1>My Projects</h1>
            <div id="project-shelf">
{{{project_html}}}
            </div>
        </div>
        <div id="cgraph-cont" class="scroll-anim">
            <img id="cgraph" src="https://ghchart.rshah.org/obfuscatedgenerated" alt="github contributions graph">
        </div>
    </div>
    </div>
    <div id="secret">
    </div>
    <!--
    <footer>
        <a id="robert"></a>
        <img src="/public/rdj-min.png" draggable="false" />
    </footer>
    -->
    <div id="ribbon">
        <a title="Dyslexia Friendly Mode (Beta)" id="ease_button" href="javascript:void(0);" onclick="dyslexia();"><b>Dyslex</b>ia <b>Friend</b>ly <b>Mod</b>e (<b>Bet</b>a)</a>
        <a id="close_button" href="javascript:void(0);" onclick="hide_ribbon();">Hide Ribbon</a>
    </div>
    <a rel="me" href="https://fosstodon.org/@ollieg"></a>
</body>

</html>